body {
  background-color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}

#bubs{
  display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#space {
  font-size: 130px;
  color: rgba(255, 255, 255, 0);
}

#title_header {
  text-align: justify;
  font-size: 180px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 50px;
}

#title {
  text-align: justify;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  margin: 50px;
}

#section {
  font-size: 50px;
  margin: 50px;
}

#txt {
  font-size: 18px;
  margin: 70px;
}

#v {
	text-align: center;
	font-size: 50px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
